@mixin color_pack_1 {
    $list_dark_col: "3", "4"; // light or dark
    $list_darken_col: "2", "4"; // darken version of light or dark

    $base_bg: #f7f7f7;
    $background_column: (
        "1": #f7f7f7,
        "2": #c7c7c7,
        "3": #2d2d2d,
        "4": #191919,
    );

    $color_row: (
        "1": #000,
        "2": #7d7d7d,
        "3": #06c2ff,
        "4": #dadada,
        "5": #f75454,
    );

    .pack[data-pack="1"] {
        @each $index, $bg in $background_column {
            .col.col-#{$index} {
                $bg: map.get($background_column, $index);

                background-color: $bg;

                .row.row-1 {
                    color: a11y-color(#000, $bg, $level: "AA", $size: 16, $bold: false);
                }

                .row.row-2 {
                    color: a11y-color(#7d7d7d, $bg, $level: "AA", $size: 16, $bold: false);
                }
                .row.row-3 {
                    color: a11y-color(#06c2ff, $bg, $level: "AA", $size: 16, $bold: false);
                }
                .row.row-4 {
                    color: a11y-color(#dadada, $bg, $level: "AA", $size: 16, $bold: false);
                }
                .row.row-5 {
                    color: a11y-color(#f75454, $bg, $level: "AA", $size: 16, $bold: false);
                }
            }
        }
    }
}
