@import "../../sass/variables/index.scss";
@import "../../sass/utilities/index.scss";

.layout {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  &.full {
    .header {
      margin-bottom: 0 !important;
      .hero {
        height: 100vh;
      }
    }
  }

  &.half {
    .header {
      .hero {
        height: 50vh;
      }
    }
  }
}

.main {
  flex: 1 1 auto;
  .container {
    height: 100%;
  }
}

.title {
  font-style: italic;
  font-size: 19px;
}

.header {
  .navbar {
    line-height: 2.2rem;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    height: 3.6rem;
    box-sizing: border-box;
    background-color: transparent;
    position: absolute;

    .button {
      background-color: transparent;
    }
    @include from(1024px) {
      .navbar-start {
        margin-left: auto;
        margin-right: 0;
      }
    }

    @include until(1024px) {
      .navbar-menu {
        box-shadow: unset;
        background-color: rgba(0, 0, 0, 0.5);
      }
      //
      .navbar-start {
        display: flex;
        flex-direction: column;
      }
    }
  }
  .hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 30vh;
    position: relative;
    flex-direction: row;
    &.background-image {
      background-color: rgba(0, 0, 0, 0.2);

      &::after {
        content: "";
        background-color: rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
    }
    .container {
      z-index: 2;
    }
    .hero-body {
      height: 30vh;
    }
  }
}
