footer.hp-ftr {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin: sass-rem.rem(100px 0 50px 0);
    p {
        color: #000;
    }
    span {
        @include design_header;
        margin-top: sass-rem.rem(10px);
    }
}
