main.hp-mn {
    color: #000000;
}

section.hdr-main_sec {
    color: #000000;
}
section#sec-intro {
    .sec-intro_text {
        h4 {
            color: #000000;
        }
        button {
            color: #000000;
        }
        div.hp-comp_social-btn {
            color: #000000;
        }
        color: #000000;
    }
    color: #000000;

    .sec-intro_img {
        .hp-comp_fly-image {
            img {
            }
        }
    }
}

section#sec-project {
    figure {
        color: #000000;
        img {
            color: #000000;
        }
        span {
            color: #000000;
        }
    }
}

section#sec-contact {
    .sec-contact_info {
        color: #000000;
    }
    .sec-contact_info-row {
        i {
            color: #000000;
        }
        span {
            color: #000000;
        }
        color: #000000;
    }
    .sec-contact_form {
        color: #000000;
    }
}
// form contact
form#hp_form-contact {
    color: #000000;
    input[name="name"] {
        color: #000000;
    }
    input[name="email"] {
        color: #000000;
    }
    textarea[name="msg"] {
        color: #000000;
    }
    button {
    }
}

.hp-comp_fly-image {
    color: #000000;
}
