.hp-comp_social-btn {
    display: flex;
    flex-direction: row;
    .social-btn {
        background-color: inherit;
        color: $highlight_theme;
        margin: sass-rem.rem(5px);
        padding: sass-rem.rem(5px);
        border-radius: sass-rem.rem(4px);
        transition: all 200ms ease-in-out;

        &:hover {
            color: #fff;
            background-color: $highlight_theme;
        }
    }
}
