@use "../../node_modules/@sass-collective/sass-rem" with (
    $baseline: 16
);
@use "sass:map";
@use "sass:list";
@use "sass:color";

@import "./mixin/var";
@import "./utilities/util";
@import "./utilities/ally-color";
@import "./_color-pack-1";

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    padding-top: px2rem(20);
}
/* structure - template */
.pack {
    display: flex;
    flex-direction: row;
    margin-top: px2rem($font_root);
}
.col {
    padding: px2rem($font_root);
    display: flex;
    flex-direction: column;
    position: relative;
    &::before {
        content: attr(data-background);
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-100%);
        font-size: 13px;
        width: 100%;
        text-align: center;
    }
}
.row {
    padding: px2rem($font_root);
}
