@import "../../sass/variables/index.scss";
@import "../../sass/utilities/index.scss";

// drawer + image + gap +  container's padding + description
$breakpoint: $width_drawer + 800px + 30px + 40px + 200px;

.blog-item {
  color: #fff;
  margin-bottom: 100px;
  outline: 1px #5b5b5b solid;
  outline-offset: 0px;
  border-radius: 5px;
  transition: 200ms ease-in-out;
  background-color: transparent;

  padding: 20px;
  @include until(1024px) {
    padding: 10px;
  }
  &:hover {
    background-color: #474747;
    outline-offset: 10px;
  }
}

.level {
  flex-direction: row;
  align-items: flex-start;
}

.thumb {
  position: relative;
  flex: 0 0 150px;
  img {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
}

.right {
  flex: 0 0 150px;
}

a {
  color: #fff;
}

img {
  display: block;
}
