@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?cmrhr2');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?cmrhr2#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?cmrhr2') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?cmrhr2') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?cmrhr2##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="hyn-"], [class*=" hyn-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hyn-image {
  &:before {
    content: $hyn-image; 
  }
}
.hyn-facebook {
  &:before {
    content: $hyn-facebook;     
    color: #1877f2;
  }
}
.hyn-github {
  &:before {
    content: $hyn-github; 
  }
}
.hyn-instagram {
  &:before {
    content: $hyn-instagram;     
    color: #e4405f;
  }
}
.hyn-linkedin {
  &:before {
    content: $hyn-linkedin;     
    color: #0077b5;
  }
}
.hyn-mail-dot-ru {
  &:before {
    content: $hyn-mail-dot-ru;     
    color: #168de2;
  }
}
.hyn-medium {
  &:before {
    content: $hyn-medium; 
  }
}
.hyn-twitter {
  &:before {
    content: $hyn-twitter;     
    color: #1da1f2;
  }
}
.hyn-vk {
  &:before {
    content: $hyn-vk;     
    color: #4680c2;
  }
}

