$icomoon-font-family: "hyn" !default;
$icomoon-font-path: "fonts" !default;

$hyn-corner-right-down: "\e908";
$hyn-facebook: "\e900";
$hyn-instagram: "\e901";
$hyn-linkedin: "\e902";
$hyn-mail-dot-ru: "\e906";
$hyn-medium: "\e903";
$hyn-twitter: "\e904";
$hyn-vk: "\e905";

