@import "../../sass/variables/index.scss";
@import "../../sass/utilities/index.scss";

.drawer {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #fff;
  background-color: $primary;

  background-image: linear-gradient(
    180deg,
    rgba(30, 114, 202, 1) 0%,
    rgba(75, 162, 229, 1) 24%,
    rgba(153, 207, 243, 1) 66%,
    rgba(208, 230, 244, 1) 100%
  );

  position: absolute;
  left: 0;
  top: 0;

  text-align: center;
  transition: 500ms;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wrap {
  z-index: 1;
  overflow: auto;
}

.overlay {
  position: absolute;
  z-index: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
}

.logo {
  a {
    width: 100px;
    height: 100px;
    display: inline-block;
  }
}

.social {
  ul {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
  }

  li {
    padding: 0.5rem;
  }
}

.nav {
  a {
    margin-bottom: 10px;
  }
  i {
  }
}

a {
  color: $white;
  display: inline-block;
}
