<div class="hp-comp_fly-image">
    <img class="lazyload" data-size="auto"
        data-src="https://res.cloudinary.com/hqe/image/upload/w_720/v1600602682/github-nguyenhy-hp/code-wp-1.jpg"
        data-srcset="https://res.cloudinary.com/hqe/image/upload/w_128/v1600602682/github-nguyenhy-hp/code-wp-1.jpg 128w,
    https://res.cloudinary.com/hqe/image/upload/w_320/v1600602682/github-nguyenhy-hp/code-wp-1.jpg 320w,
    https://res.cloudinary.com/hqe/image/upload/w_720/v1600602682/github-nguyenhy-hp/code-wp-1.jpg 720w">
    <blockquote>
        <p>I choose a lazy person to do a hard job. Because a lazy person will find an easy way to
            do it.</p>
        <cite>Bill Gates</cite>
    </blockquote>
</div>