<div class="hp-comp_fly-image">
    <img class="lazyload" data-size="auto"
        data-src="https://res.cloudinary.com/hqe/image/upload/c_scale,w_720/v1600602682/github-nguyenhy-hp/code-wp-1.jpg"
        data-srcset="https://res.cloudinary.com/hqe/image/upload/c_scale,w_128/v1600602682/github-nguyenhy-hp/code-wp-1.jpg w128,
    https://res.cloudinary.com/hqe/image/upload/c_scale,w_320/v1600602682/github-nguyenhy-hp/code-wp-1.jpg w320,
    https://res.cloudinary.com/hqe/image/upload/c_scale,w_720/v1600602682/github-nguyenhy-hp/code-wp-1.jpg w720">
    <blockquote>
        <p>I choose a lazy person to do a hard job. Because a lazy person will find an easy way to
            do it.</p>
        <cite>Bill Gates</cite>
    </blockquote>
</div>