<figure>
    <img class="lazyload" data-src="https://dummyimage.com/600x800/000/fff" alt="">
    <figcaption>figcaption so cool</figcaption>
</figure>
<figure>
    <img class="lazyload" data-src="https://dummyimage.com/600x400/000/fff" alt="">
    <figcaption>figcaption so cool</figcaption>
</figure>
<figure>
    <img class="lazyload" data-src="https://dummyimage.com/600x600/000/fff" alt="">
    <figcaption>figcaption so cool</figcaption>
</figure>
<figure>
    <img class="lazyload" data-src="https://dummyimage.com/600x800/000/fff" alt="">
    <figcaption>figcaption so cool</figcaption>
</figure>
<figure>
    <img class="lazyload" data-src="https://dummyimage.com/600x400/000/fff" alt="">
    <figcaption>figcaption so cool</figcaption>
</figure>
<figure>
    <img class="lazyload" data-src="https://dummyimage.com/600x600/000/fff" alt="">
    <figcaption>figcaption so cool</figcaption>
</figure>