<div id="hp-cont">
    <div class="hp-wrap">
        <header class="hp-hdr">
            <h3 class="hp-hdr_title">perspiciatis</h3>
            <nav class="hp-hdr-nav">
                <a class="hp-hdr-nav_a" href="#___">project</a>
                <a class="hp-hdr-nav_a" href="#___">about</a>
                <a class="hp-hdr-nav_a" href="#___">contact</a>
                <a class="hp-hdr-nav_a" href="#___">fun</a>
            </nav>
        </header>


        <main class="hp-mn">
            <section class="hdr-main_sec" id="sec-intro">
                <div class="sec-intro_text">
                    <h4>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                        beatae vitae dicta sunt explicabo</h4>
                    <button>Contact</button>
                    <div class="hp-comp_social-btn">
                        <a href="#" class="social-btn">svg</a>
                        <a href="#" class="social-btn">svg</a>
                        <a href="#" class="social-btn">svg</a>
                        <a href="#" class="social-btn">svg</a>
                    </div>
                </div>
                <div class="sec-intro_img">
                    <div class="hp-comp_fly-image">
                        <img src="https://dummyimage.com/600x400/000/fff" alt="" id="">
                    </div>
                </div>
            </section>
            <section class="hdr-main_sec" id="sec-project">
                <figure>
                    <img src="https://dummyimage.com/600x400/000/fff" alt="">
                    <span>figcaption not work, so...</span>
                </figure>
                <figure>
                    <img src="https://dummyimage.com/600x400/000/fff" alt="">
                    <span>figcaption not work, so...</span>
                </figure>
                <figure>
                    <img src="https://dummyimage.com/600x400/000/fff" alt="">
                    <span>figcaption not work, so...</span>
                </figure>
            </section>
            <section class="hdr-main_sec" id="sec-contact">
                <div class="sec-contact_info">
                    <div class="sec-contact_info-row">
                        <i>svg</i>
                        <span>Sed ut perspiciatis</span>
                    </div>
                    <div class="sec-contact_info-row">
                        <i>svg</i>
                        <span>Sed ut perspiciatis</span>
                    </div>
                    <div class="sec-contact_info-row">
                        <i>svg</i>
                        <span>Sed ut perspiciatis</span>
                    </div>

                    <div class="hp-comp_social-btn">
                        <a href="#" class="social-btn">svg</a>
                        <a href="#" class="social-btn">svg</a>
                        <a href="#" class="social-btn">svg</a>
                        <a href="#" class="social-btn">svg</a>
                    </div>
                </div>
                <div class="sec-contact_form">
                    <form id="hp_form-contact">
                        <input type="text" name="name">
                        <input type="email" name="email">
                        <textarea name="msg"></textarea>
                        <button type="submit"></button>
                    </form>
                </div>
            </section>
        </main>

        <footer class="hp-ftr">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
            <span>perspiciatis</span>
        </footer>


    </div>
</div>