<div id="hp-cont">
    <div class="hp-wrap">
        <header class="hp-hdr">
            <nav class="hp-hdr-nav">
                <include src="./header-nav.html"></include>
            </nav>
            <h3 class="hp-hdr_title">
                <span>hyn</span>
            </h3>
        </header>


        <main class="hp-mn">
            <section class="hdr-main_sec" id="sec-intro">
                <div class="sec-intro_img">
                    <div class="hp-comp_fly-image">
                        <img class="lazyload" data-size="auto"
                            data-src="https://res.cloudinary.com/hqe/image/upload/c_scale,w_720/v1600602682/github-nguyenhy-hp/code-wp-1.jpg"
                            data-srcset="https://res.cloudinary.com/hqe/image/upload/c_scale,w_128/v1600602682/github-nguyenhy-hp/code-wp-1.jpg w128,
                        https://res.cloudinary.com/hqe/image/upload/c_scale,w_320/v1600602682/github-nguyenhy-hp/code-wp-1.jpg w320,
                        https://res.cloudinary.com/hqe/image/upload/c_scale,w_720/v1600602682/github-nguyenhy-hp/code-wp-1.jpg w720">
                        <blockquote>
                            <p>I choose a lazy person to do a hard job. Because a lazy person will find an easy way to
                                do it.</p>
                            <cite>Bill Gates</cite>
                        </blockquote>
                    </div>
                </div>
                <div class="sec-intro_text">
                    <h4>This site dont have much content</h4>
                    <button><a href="#sec-contact">Contact</a></button>
                    <include src="./social-button.html"></include>
                </div>
            </section>
            <section class="hdr-main_sec" id="sec-project">
                <h4>Project</h4>
                <div>
                    <include src="./list-project.html"></include>
                </div>
            </section>
            <section class="hdr-main_sec" id="sec-contact">
                <div class="sec-contact_form">
                    <form id="hp_form-contact">
                        <input placeholder="Name" type="text" name="name" value="">
                        <input placeholder="Email" type="email" name="email" value="">
                        <textarea placeholder="Your message" name="msg" rows="5" value=""></textarea>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </section>
        </main>

        <footer class="hp-ftr">
            <include src="./social-button.html"></include>
            <p>Most of personal info in this site is generate</p>
            <span></span>
        </footer>


    </div>
</div>