<div class="hp-comp_social-btn">
    <a class="social-btn email" href="mailto:nguyenhy311@gmail.com">
        <i class="hyn-mail-dot-ru"></i>
    </a>
    <a href="#" class="social-btn">
        <i class="hyn-facebook"></i>
    </a>
    <a href="#" class="social-btn">
        <i class="hyn-twitter"></i>
    </a>
    <a href="#" class="social-btn">
        <i class="hyn-instagram"></i>
    </a>
    <a href="#" class="social-btn">
        <i class="hyn-linkedin"></i>
    </a>
    <a href="#" class="social-btn">
        <i class="hyn-medium"></i>
    </a>
    <a href="#" class="social-btn">
        <i class="hyn-vk"></i>
    </a>
</div>