<div class="hp-comp_social-btn">
    <a target="_blank" class="social-btn email" href="mailto:nguyenhy311@gmail.com">
        <i class="hyn-mail-dot-ru"></i>
    </a>
    <a target="_blank" href="https://github.com/nguyenhy" class="social-btn github">
        <i class="hyn-github"></i>
    </a>
    <a target="_blank" class="social-btn">
        <i class="hyn-facebook"></i>
    </a>
    <a target="_blank" class="social-btn">
        <i class="hyn-twitter"></i>
    </a>
    <a target="_blank" class="social-btn">
        <i class="hyn-instagram"></i>
    </a>
    <a target="_blank" class="social-btn">
        <i class="hyn-linkedin"></i>
    </a>
    <a target="_blank" class="social-btn">
        <i class="hyn-medium"></i>
    </a>
    <a target="_blank" class="social-btn">
        <i class="hyn-vk"></i>
    </a>
</div>