// icon var
@import "../../../static/hyn/variables";

/* size */
$font_root: 16px;
$desktop_header_height: 120px;
$mobile_header_height: 75px;

$desktop_header_side_padding: 40px;
$mobile_header_side_padding: 10px;
/* color */
$highlight_theme: #ff2c5a;
