@font-face {
  font-family: 'hytorium';
  src:  url('fonts/hytorium.eot?n35l6v');
  src:  url('fonts/hytorium.eot?n35l6v#iefix') format('embedded-opentype'),
    url('fonts/hytorium.ttf?n35l6v') format('truetype'),
    url('fonts/hytorium.woff?n35l6v') format('woff'),
    url('fonts/hytorium.svg?n35l6v#hytorium') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="hy-"], [class*=" hy-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hytorium' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hy-add-outline:before {
  content: "\e900";
}
.hy-add-solid:before {
  content: "\e901";
}
.hy-adjust:before {
  content: "\e902";
}
.hy-airplane:before {
  content: "\e903";
}
.hy-album:before {
  content: "\e904";
}
.hy-align-center:before {
  content: "\e905";
}
.hy-align-justified:before {
  content: "\e906";
}
.hy-align-left:before {
  content: "\e907";
}
.hy-align-right:before {
  content: "\e908";
}
.hy-anchor:before {
  content: "\e909";
}
.hy-announcement:before {
  content: "\e90a";
}
.hy-apparel:before {
  content: "\e90b";
}
.hy-arrow-down:before {
  content: "\e90c";
}
.hy-arrow-left:before {
  content: "\e90d";
}
.hy-arrow-outline-down:before {
  content: "\e90e";
}
.hy-arrow-outline-left:before {
  content: "\e90f";
}
.hy-arrow-outline-right:before {
  content: "\e910";
}
.hy-arrow-outline-up:before {
  content: "\e911";
}
.hy-arrow-right:before {
  content: "\e912";
}
.hy-arrow-thick-down:before {
  content: "\e913";
}
.hy-arrow-thick-left:before {
  content: "\e914";
}
.hy-arrow-thick-right:before {
  content: "\e915";
}
.hy-arrow-thick-up:before {
  content: "\e916";
}
.hy-arrow-thin-down:before {
  content: "\e917";
}
.hy-arrow-thin-left:before {
  content: "\e918";
}
.hy-arrow-thin-right:before {
  content: "\e919";
}
.hy-arrow-thin-up:before {
  content: "\e91a";
}
.hy-arrow-up:before {
  content: "\e91b";
}
.hy-artist:before {
  content: "\e91c";
}
.hy-at-symbol:before {
  content: "\e91d";
}
.hy-attachment:before {
  content: "\e91e";
}
.hy-backspace:before {
  content: "\e91f";
}
.hy-backward:before {
  content: "\e920";
}
.hy-backward-step:before {
  content: "\e921";
}
.hy-badge:before {
  content: "\e922";
}
.hy-battery-full:before {
  content: "\e923";
}
.hy-battery-half:before {
  content: "\e924";
}
.hy-battery-low:before {
  content: "\e925";
}
.hy-beverage:before {
  content: "\e926";
}
.hy-block:before {
  content: "\e927";
}
.hy-bluetooth:before {
  content: "\e928";
}
.hy-bolt:before {
  content: "\e929";
}
.hy-book-reference:before {
  content: "\e92a";
}
.hy-bookmark:before {
  content: "\e92b";
}
.hy-bookmarkcopy2:before {
  content: "\e92c";
}
.hy-bookmarkcopy3:before {
  content: "\e92d";
}
.hy-bookmark-outline:before {
  content: "\e92e";
}
.hy-bookmark-outline-add:before {
  content: "\e92f";
}
.hy-border-all:before {
  content: "\e930";
}
.hy-border-bottom:before {
  content: "\e931";
}
.hy-border-horizontal:before {
  content: "\e932";
}
.hy-border-inner:before {
  content: "\e933";
}
.hy-border-left:before {
  content: "\e934";
}
.hy-border-none:before {
  content: "\e935";
}
.hy-border-outer:before {
  content: "\e936";
}
.hy-border-right:before {
  content: "\e937";
}
.hy-border-top:before {
  content: "\e938";
}
.hy-border-vertical:before {
  content: "\e939";
}
.hy-box:before {
  content: "\e93a";
}
.hy-brightness-down:before {
  content: "\e93b";
}
.hy-brightness-up:before {
  content: "\e93c";
}
.hy-browser-window:before {
  content: "\e93d";
}
.hy-browser-window-new:before {
  content: "\e93e";
}
.hy-browser-window-open:before {
  content: "\e93f";
}
.hy-bug:before {
  content: "\e940";
}
.hy-buoy:before {
  content: "\e941";
}
.hy-calculator:before {
  content: "\e942";
}
.hy-calendar:before {
  content: "\e943";
}
.hy-camera:before {
  content: "\e944";
}
.hy-chart:before {
  content: "\e945";
}
.hy-chart-bar:before {
  content: "\e946";
}
.hy-chart-pie:before {
  content: "\e947";
}
.hy-chat-bubble-dots:before {
  content: "\e948";
}
.hy-checkmark:before {
  content: "\e949";
}
.hy-checkmark-outline:before {
  content: "\e94a";
}
.hy-cheveron-down:before {
  content: "\e94b";
}
.hy-cheveron-left:before {
  content: "\e94c";
}
.hy-cheveron-outline-down:before {
  content: "\e94d";
}
.hy-cheveron-outline-left:before {
  content: "\e94e";
}
.hy-cheveron-outline-right:before {
  content: "\e94f";
}
.hy-cheveron-outline-up:before {
  content: "\e950";
}
.hy-cheveron-right:before {
  content: "\e951";
}
.hy-cheveron-up:before {
  content: "\e952";
}
.hy-clipboard:before {
  content: "\e953";
}
.hy-close:before {
  content: "\e954";
}
.hy-close-outline:before {
  content: "\e955";
}
.hy-close-solid:before {
  content: "\e956";
}
.hy-cloud:before {
  content: "\e957";
}
.hy-cloud-upload:before {
  content: "\e958";
}
.hy-code:before {
  content: "\e959";
}
.hy-coffee:before {
  content: "\e95a";
}
.hy-cog:before {
  content: "\e95b";
}
.hy-color-palette:before {
  content: "\e95c";
}
.hy-compose:before {
  content: "\e95d";
}
.hy-computer-desktop:before {
  content: "\e95e";
}
.hy-computer-laptop:before {
  content: "\e95f";
}
.hy-conversation:before {
  content: "\e960";
}
.hy-copy:before {
  content: "\e961";
}
.hy-credit-card:before {
  content: "\e962";
}
.hy-currency-dollar:before {
  content: "\e963";
}
.hy-dashboard:before {
  content: "\e964";
}
.hy-date-add:before {
  content: "\e965";
}
.hy-dial-pad:before {
  content: "\e966";
}
.hy-directions:before {
  content: "\e967";
}
.hy-document:before {
  content: "\e968";
}
.hy-document-add:before {
  content: "\e969";
}
.hy-dots-horizontal-double:before {
  content: "\e96a";
}
.hy-dots-horizontal-triple:before {
  content: "\e96b";
}
.hy-download:before {
  content: "\e96c";
}
.hy-duplicate:before {
  content: "\e96d";
}
.hy-edit-copy:before {
  content: "\e96e";
}
.hy-edit-crop:before {
  content: "\e96f";
}
.hy-edit-cut:before {
  content: "\e970";
}
.hy-edit-pencil:before {
  content: "\e971";
}
.hy-education:before {
  content: "\e972";
}
.hy-envelope:before {
  content: "\e973";
}
.hy-exclamation-outline:before {
  content: "\e974";
}
.hy-exclamation-solid:before {
  content: "\e975";
}
.hy-explore:before {
  content: "\e976";
}
.hy-factory:before {
  content: "\e977";
}
.hy-fast-forward:before {
  content: "\e978";
}
.hy-fast-rewind:before {
  content: "\e979";
}
.hy-film:before {
  content: "\e97a";
}
.hy-filter:before {
  content: "\e97b";
}
.hy-flag:before {
  content: "\e97c";
}
.hy-flashlight:before {
  content: "\e97d";
}
.hy-folder:before {
  content: "\e97e";
}
.hy-folder-outline:before {
  content: "\e97f";
}
.hy-folder-outline-add:before {
  content: "\e980";
}
.hy-format-bold:before {
  content: "\e981";
}
.hy-format-font-size:before {
  content: "\e982";
}
.hy-format-italic:before {
  content: "\e983";
}
.hy-format-text-size:before {
  content: "\e984";
}
.hy-format-underline:before {
  content: "\e985";
}
.hy-forward:before {
  content: "\e986";
}
.hy-forward-step:before {
  content: "\e987";
}
.hy-gift:before {
  content: "\e988";
}
.hy-globe:before {
  content: "\e989";
}
.hy-hand-stop:before {
  content: "\e98a";
}
.hy-hard-drive:before {
  content: "\e98b";
}
.hy-headphones:before {
  content: "\e98c";
}
.hy-heart:before {
  content: "\e98d";
}
.hy-home:before {
  content: "\e98e";
}
.hy-hot:before {
  content: "\e98f";
}
.hy-hour-glass:before {
  content: "\e990";
}
.hy-inbox:before {
  content: "\e991";
}
.hy-inbox-check:before {
  content: "\e992";
}
.hy-inbox-download:before {
  content: "\e993";
}
.hy-inbox-full:before {
  content: "\e994";
}
.hy-indent-decrease:before {
  content: "\e995";
}
.hy-indent-increase:before {
  content: "\e996";
}
.hy-information-outline:before {
  content: "\e997";
}
.hy-information-solid:before {
  content: "\e998";
}
.hy-key:before {
  content: "\e999";
}
.hy-keyboard:before {
  content: "\e99a";
}
.hy-layers:before {
  content: "\e99b";
}
.hy-library:before {
  content: "\e99c";
}
.hy-light-bulb:before {
  content: "\e99d";
}
.hy-link:before {
  content: "\e99e";
}
.hy-list:before {
  content: "\e99f";
}
.hy-list-add:before {
  content: "\e9a0";
}
.hy-list-bullet:before {
  content: "\e9a1";
}
.hy-load-balancer:before {
  content: "\e9a2";
}
.hy-location:before {
  content: "\e9a3";
}
.hy-location-current:before {
  content: "\e9a4";
}
.hy-location-food:before {
  content: "\e9a5";
}
.hy-location-gas-station:before {
  content: "\e9a6";
}
.hy-location-hotel:before {
  content: "\e9a7";
}
.hy-location-marina:before {
  content: "\e9a8";
}
.hy-location-park:before {
  content: "\e9a9";
}
.hy-location-restroom:before {
  content: "\e9aa";
}
.hy-location-shopping:before {
  content: "\e9ab";
}
.hy-lock-closed:before {
  content: "\e9ac";
}
.hy-lock-open:before {
  content: "\e9ad";
}
.hy-map:before {
  content: "\e9ae";
}
.hy-menu:before {
  content: "\e9af";
}
.hy-mic:before {
  content: "\e9b0";
}
.hy-minus-outline:before {
  content: "\e9b1";
}
.hy-minus-solid:before {
  content: "\e9b2";
}
.hy-mobile-devices:before {
  content: "\e9b3";
}
.hy-mood-happy-outline:before {
  content: "\e9b4";
}
.hy-mood-happy-solid:before {
  content: "\e9b5";
}
.hy-mood-neutral-outline:before {
  content: "\e9b6";
}
.hy-mood-neutral-solid:before {
  content: "\e9b7";
}
.hy-mood-sad-outline:before {
  content: "\e9b8";
}
.hy-mood-sad-solid:before {
  content: "\e9b9";
}
.hy-mouse:before {
  content: "\e9ba";
}
.hy-music-album:before {
  content: "\e9bb";
}
.hy-music-artist:before {
  content: "\e9bc";
}
.hy-music-notes:before {
  content: "\e9bd";
}
.hy-music-playlist:before {
  content: "\e9be";
}
.hy-navigation-more:before {
  content: "\e9bf";
}
.hy-network:before {
  content: "\e9c0";
}
.hy-news-paper:before {
  content: "\e9c1";
}
.hy-notification:before {
  content: "\e9c2";
}
.hy-notifications:before {
  content: "\e9c3";
}
.hy-notifications-outline:before {
  content: "\e9c4";
}
.hy-paste:before {
  content: "\e9c5";
}
.hy-pause:before {
  content: "\e9c6";
}
.hy-pause-outline:before {
  content: "\e9c7";
}
.hy-pause-solid:before {
  content: "\e9c8";
}
.hy-pen-tool:before {
  content: "\e9c9";
}
.hy-phone:before {
  content: "\e9ca";
}
.hy-photo:before {
  content: "\e9cb";
}
.hy-php-elephant:before {
  content: "\e9cc";
}
.hy-pin:before {
  content: "\e9cd";
}
.hy-play:before {
  content: "\e9ce";
}
.hy-play-outline:before {
  content: "\e9cf";
}
.hy-playlist:before {
  content: "\e9d0";
}
.hy-plugin:before {
  content: "\e9d1";
}
.hy-portfolio:before {
  content: "\e9d2";
}
.hy-printer:before {
  content: "\e9d3";
}
.hy-pylon:before {
  content: "\e9d4";
}
.hy-question:before {
  content: "\e9d5";
}
.hy-queue:before {
  content: "\e9d6";
}
.hy-radar:before {
  content: "\e9d7";
}
.hy-radarcopy2:before {
  content: "\e9d8";
}
.hy-radio:before {
  content: "\e9d9";
}
.hy-refresh:before {
  content: "\e9da";
}
.hy-reload:before {
  content: "\e9db";
}
.hy-reply:before {
  content: "\e9dc";
}
.hy-reply-all:before {
  content: "\e9dd";
}
.hy-repost:before {
  content: "\e9de";
}
.hy-save-disk:before {
  content: "\e9df";
}
.hy-screen-full:before {
  content: "\e9e0";
}
.hy-search:before {
  content: "\e9e1";
}
.hy-send:before {
  content: "\e9e2";
}
.hy-servers:before {
  content: "\e9e3";
}
.hy-share:before {
  content: "\e9e4";
}
.hy-share-01:before {
  content: "\e9e5";
}
.hy-share-alt:before {
  content: "\e9e6";
}
.hy-shield:before {
  content: "\e9e7";
}
.hy-shopping-cart:before {
  content: "\e9e8";
}
.hy-show-sidebar:before {
  content: "\e9e9";
}
.hy-shuffle:before {
  content: "\e9ea";
}
.hy-stand-by:before {
  content: "\e9eb";
}
.hy-star-full:before {
  content: "\e9ec";
}
.hy-station:before {
  content: "\e9ed";
}
.hy-step-backward:before {
  content: "\e9ee";
}
.hy-step-forward:before {
  content: "\e9ef";
}
.hy-stethoscope:before {
  content: "\e9f0";
}
.hy-store-front:before {
  content: "\e9f1";
}
.hy-stroke-width:before {
  content: "\e9f2";
}
.hy-subdirectory-left:before {
  content: "\e9f3";
}
.hy-subdirectory-right:before {
  content: "\e9f4";
}
.hy-swap:before {
  content: "\e9f5";
}
.hy-tablet:before {
  content: "\e9f6";
}
.hy-tag:before {
  content: "\e9f7";
}
.hy-target:before {
  content: "\e9f8";
}
.hy-text-box:before {
  content: "\e9f9";
}
.hy-text-decoration:before {
  content: "\e9fa";
}
.hy-thermometer:before {
  content: "\e9fb";
}
.hy-thumbs-down:before {
  content: "\e9fc";
}
.hy-thumbs-up:before {
  content: "\e9fd";
}
.hy-ticket:before {
  content: "\e9fe";
}
.hy-time:before {
  content: "\e9ff";
}
.hy-timer:before {
  content: "\ea00";
}
.hy-toolscopy:before {
  content: "\ea01";
}
.hy-translate:before {
  content: "\ea02";
}
.hy-trash:before {
  content: "\ea03";
}
.hy-travel:before {
  content: "\ea04";
}
.hy-travel-bus:before {
  content: "\ea05";
}
.hy-travel-car:before {
  content: "\ea06";
}
.hy-travel-case:before {
  content: "\ea07";
}
.hy-travel-taxi-cab:before {
  content: "\ea08";
}
.hy-travel-train:before {
  content: "\ea09";
}
.hy-travel-walk:before {
  content: "\ea0a";
}
.hy-trophy:before {
  content: "\ea0b";
}
.hy-tuning:before {
  content: "\ea0c";
}
.hy-upload:before {
  content: "\ea0d";
}
.hy-usb:before {
  content: "\ea0e";
}
.hy-user:before {
  content: "\ea0f";
}
.hy-user-add:before {
  content: "\ea10";
}
.hy-user-group:before {
  content: "\ea11";
}
.hy-user-solid-circle:before {
  content: "\ea12";
}
.hy-user-solid-square:before {
  content: "\ea13";
}
.hy-vector:before {
  content: "\ea14";
}
.hy-video-camera:before {
  content: "\ea15";
}
.hy-view-carousel:before {
  content: "\ea16";
}
.hy-view-column:before {
  content: "\ea17";
}
.hy-view-hide:before {
  content: "\ea18";
}
.hy-view-list:before {
  content: "\ea19";
}
.hy-view-show:before {
  content: "\ea1a";
}
.hy-view-tile:before {
  content: "\ea1b";
}
.hy-volume-down:before {
  content: "\ea1c";
}
.hy-volume-mute:before {
  content: "\ea1d";
}
.hy-volume-off:before {
  content: "\ea1e";
}
.hy-volume-up:before {
  content: "\ea1f";
}
.hy-wallet:before {
  content: "\ea20";
}
.hy-watch:before {
  content: "\ea21";
}
.hy-window:before {
  content: "\ea22";
}
.hy-window-new:before {
  content: "\ea23";
}
.hy-window-open:before {
  content: "\ea24";
}
.hy-wrench:before {
  content: "\ea25";
}
.hy-yin-yang:before {
  content: "\ea26";
}
.hy-zoom-in:before {
  content: "\ea27";
}
.hy-zoom-out:before {
  content: "\ea28";
}
