@mixin custom_lazysizes {
    img.lazyload,
    img.lazyloading {
        opacity: 0;
        transition: opacity 400ms;
    }

    img.lazyloaded {
        opacity: 1;
    }
    img:not([src]) {
        visibility: hidden;
    }
}