@mixin block_quote($size: 20px) {
    font-size: $size;
    top: -$size;
    &::before {
        content: "“";
        position: absolute;
        opacity: 0.5;
        font-size: $size * 3;
        line-height: $size;
        left: -$size;
        top: 0;
    }
    &::after {
        content: "”";
        position: absolute;
        opacity: 0.5;
        font-size: $size * 3;
        line-height: $size;
        right: -$size;
        bottom: -$size;
    }
}