@mixin social_button {
    .hp-comp_social-btn {
        @include social_button_group;
        .social-btn {
            @include social_button_item--base;

            @include media("max-480-portrait") {
                @include social_button_item--small;
            }

            @include media("max-480-landscape") {
                @include social_button_item--normal;
            }

            @include media("min-480") {
                @include social_button_item--normal;
            }
        }
    }
}

@mixin social_button_group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin social_button_item--base {
    background-color: inherit;
    color: initial;
    border-radius: sass-rem.rem(4px);
    text-decoration: unset;
    transition: transform 200ms ease-in-out;
    transform: scale(1);
}
@mixin social_button_item--small {
    margin: sass-rem.rem(2px 6px);
    padding: sass-rem.rem(2px);
    font-size: sass-rem.rem(20px);
    &:hover {
        transform: scale(1.2);
    }
}

@mixin social_button_item--normal {
    margin: sass-rem.rem(5px);
    padding: sass-rem.rem(5px);
    font-size: sass-rem.rem(30px);
    &:hover {
        transform: scale(1.4);
    }
}
