@mixin social_button_group {
    display: flex;
    flex-direction: row;
}

@mixin social_button_item--480 {
    @include sass-breakpoint.breakpoint($max-width: 480) {
        margin: sass-rem.rem(2px 6px);
        padding: sass-rem.rem(2px);
        font-size: sass-rem.rem(20px);
        &:hover {
            transform: scale(1.2);
        }
    }
}


@mixin social_button {
    .hp-comp_social-btn {
        @include social_button_group;
        .social-btn {
            @include social_button_item;
        }
    }
}
@mixin social_button_item {
    background-color: inherit;
    color: $highlight_theme;
    margin: sass-rem.rem(5px);
    padding: sass-rem.rem(5px);
    border-radius: sass-rem.rem(4px);
    text-decoration: unset;
    font-size: sass-rem.rem(30px);
    transition: transform 200ms ease-in-out;
    transform: scale(1);
    &:hover {
        transform: scale(1.4);
    }

    @include social_button_item--480;
}