footer.hp-ftr {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin: sass-rem.rem(100px 0 50px 0);

    &:hover {
        .hp-comp_social-btn a.social-btn.github,
        .hp-comp_social-btn a.social-btn.email {
            transform: scale(1.5);
        }
    }
    p {
        color: #000;
        font-size: 11px;
    }
    span {
        color: $highlight_theme;
        margin-top: sass-rem.rem(10px);
    }
}
