@mixin block_quote($size: 20px) {
    font-size: $size;
    top: -$size;
    &::before {
        content: "“";
        position: absolute;
        opacity: 0.5;
        font-size: $size * 3;
        line-height: $size;
        left: -$size;
        top: 0;
    }
    &::after {
        content: "”";
        position: absolute;
        opacity: 0.5;
        font-size: $size * 3;
        line-height: $size;
        right: -$size;
        bottom: -$size;
    }
}

main.hp-mn {
}

section.hdr-main_sec {
    &:not(:first-child) {
    }
}
section#sec-intro {
    display: flex;

    .sec-intro_text {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;

        h4 {
            text-align: center;
        }
        button {
            @include design_button;
            a {
                color: inherit;
            }
        }
        div.hp-comp_social-btn {
            justify-content: center;
        }
    }

    .sec-intro_img {
        flex-grow: 1;

        .hp-comp_fly-image {
            position: relative;
            overflow: hidden;
            &::before {
                content: "";
                position: absolute;
                z-index: 1;
                background-color: #4158d0;
                background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
                opacity: 0.5;
            }

            img {
                position: relative;
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: blur(5px);
            }

            blockquote {
                position: absolute;
                z-index: 2;
                color: #fff;

                p {
                    font-weight: bold;
                }
                cite {
                    float: right;
                }
            }
        }
    }
}

section#sec-project {
    h4 {
        @include section_header(13px * 5 + 10px); // "project" has 5 char, each saying about 13px in width
    }
    div {
        display: flex;

        &::before,
        &::after {
            content: "";
            flex-basis: 100%;
            width: 0;
            order: 2;
        }
    }
    figure {
        position: relative;
        display: inline-flex;
        flex-direction: column;
        border-radius: 4px;
        overflow: hidden;
        transform: scale(1);
        transition: transform 200ms ease-in-out;

        a {
            width: 100%;
            height: 100%;
        }
        img {
            object-fit: cover;
            display: block;
            flex-grow: 1;
            width: 100%;
        }
        figcaption {
            width: 100%;
            color: #fff;
            padding: 5px 0;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.7);
        }

        &:hover {
            transform: scale(1.1);
            img {
            }
            figcaption {
            }
        }
    }
}

section#sec-contact {
    display: flex;
    justify-content: center;
    .sec-contact_form {
    }
}


/* img */
img.lazyload,
img.lazyloading {
    opacity: 0;
    transition: opacity 400ms;
}

img.lazyloaded {
    opacity: 1;
}
img:not([src]) {
    visibility: hidden;
}

/* responsive */

@mixin mobile {
    main.hp-mn {
        padding: sass-rem.rem(0px $mobile_header_side_padding);
        margin-top: sass-rem.rem(8px);
    }

    section.hdr-main_sec {
        &:not(:first-child) {
            margin-top: sass-rem.rem(50px);
        }
    }

    section#sec-intro {
        flex-direction: column;

        .sec-intro_text {
            margin-top: sass-rem.rem(20px);
            h4 {
                font-size: sass-rem.rem(20px);
            }
            button {
                width: 35%;
                padding: sass-rem.rem(10px 12px);
                margin: sass-rem.rem(10px) auto 0 auto;
                a {
                }
            }
            div.hp-comp_social-btn {
                margin-top: sass-rem.rem(10px);
            }
        }

        .sec-intro_img {
            @media screen and (orientation: landscape) {
                height: 50vw;
            }
            @media screen and (orientation: portrait) {
                height: 50vh;
            }
            .hp-comp_fly-image {
                width: 100%;
                height: 100%;
                top: 0px;
                left: 0px;
                &::before {
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                }

                img {
                }

                blockquote {
                    bottom: 10px;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 2;

                    p {
                        position: relative;
                        @include block_quote(20px);
                    }
                    cite {
                    }
                }
            }
        }
    }

    section#sec-project {
        h4 {
            margin-bottom: sass-rem.rem(50px);
        }
        div {
            flex-direction: column;
        }
        figure {
            &:not(:first-child) {
                margin-top: sass-rem.rem(20px);
            }
            img {
                height: calc(100% - 32px);
                max-height: 80vh;
                &.lazyloading,
                &.lazyload {
                    ~ figcaption {
                        display: none;
                    }
                }
            }
            figcaption {
                width: 100%;
                color: #fff;
                padding: 5px 0;
                text-align: center;
                background-color: rgba(0, 0, 0, 0.7);
            }
        }
    }

    section#sec-contact {
        .sec-contact_form {
            width: 100%;
        }
    }
}

@mixin desktop {
    main.hp-mn {
        padding: sass-rem.rem(0px $desktop_header_side_padding);
    }

    section.hdr-main_sec {
        &:not(:first-child) {
            margin-top: sass-rem.rem(100px);
        }
    }

    section#sec-intro {
        @media screen and (orientation: landscape) {
            height: 80vw;
        }
        @media screen and (orientation: portrait) {
            height: 80vh;
        }

        .sec-intro_text {
            padding-left: sass-rem.rem(30px);

            h4 {
                font-size: 20px;
            }
            button {
                width: 35%;
                padding: sass-rem.rem(10px 12px);
                margin: sass-rem.rem(40px) auto 0 auto;
                a {
                }
            }
            div.hp-comp_social-btn {
                margin-top: sass-rem.rem(40px);
            }
        }

        .sec-intro_img {
            width: 50%;

            .hp-comp_fly-image {
                $addition_width: ($desktop_header_side_padding / 2);
                $addition_height: ($desktop_header_height - $addition_width);
                height: calc(100% + #{$addition_height});
                width: calc(100% + #{$addition_width});
                left: -$addition_width;
                top: -$addition_height;
                &::before {
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                }

                img {
                }

                blockquote {
                    bottom: 50px;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 2;

                    p {
                        position: relative;
                        @include block_quote(30px);
                    }
                    cite {
                    }
                }
            }
        }
    }

    section#sec-project {
        h4 {
            margin-bottom: sass-rem.rem(50px);
        }
        div {
            height: 620px;
            flex-flow: column wrap;
            align-content: space-between;

            &::before,
            &::after {
                content: "";
                flex-basis: 100%;
                width: 0;
                order: 2;
            }
        }
        figure {
            width: 32%;
            margin-top: 2%;

            &:nth-child(3n + 1) {
                order: 1;
            }
            &:nth-child(3n + 2) {
                order: 2;
            }
            &:nth-child(3n) {
                order: 3;
            }

            &:nth-child(1) {
                height: 200px;
                margin: 0;
            }
            &:nth-child(2) {
                height: 225px;
                margin: 0;
            }
            &:nth-child(3) {
                height: 280px;
                margin: 0;
            }

            &:nth-child(4) {
                height: 360px;
            }
            &:nth-child(5) {
                height: 220px;
            }
            &:nth-child(6) {
                height: 250px;
            }

            img {
                height: calc(100% - 32px);
            }
            figcaption {
                width: 100%;
                color: #fff;
                padding: 5px 0;
                text-align: center;
                background-color: rgba(0, 0, 0, 0.7);
            }

            &:hover {
                transform: scale(1.1);
                img {
                }
                figcaption {
                }
            }
        }
    }

    section#sec-contact {
        .sec-contact_form {
            width: 50%;
        }
    }
}

@include sass-breakpoint.breakpoint($max-width: 480) {
    @include mobile;
}

@include sass-breakpoint.breakpoint($min-width: 480, $max-width: 768) {
    @media screen and (orientation: landscape) {
        // mobile rotate
        @include mobile;
    }
    @media screen and (orientation: portrait) {
        @include desktop;
    }
}

@include sass-breakpoint.breakpoint($min-width: 768) {
    @include desktop;
}
