.container {
  display: flex;
}

/* just for styling */
.container {
  border: 1px solid blue;
  background-color: lightblue;
  padding: 10px;
}
.item {
  border: 1px solid gray;
  background-color: lightgray;
  padding: 10px;
}
