$icomoon-font-family: "hyn" !default;
$icomoon-font-path: "fonts" !default;

$hyni-calendar: "\e90a";
$hyni-chevrons-up: "\e905";
$hyni-github: "\e900";
$hyni-image: "\e906";
$hyni-instagram: "\e901";
$hyni-mail: "\e902";
$hyni-menu: "\e907";
$hyni-moon: "\e904";
$hyni-search: "\e908";
$hyni-share-2: "\e909";
$hyni-tag: "\e90b";
$hyni-twitter: "\e903";
$hyni-user: "\e90c";
$hyni-watch: "\e90d";

