@import "./sass/vendor/bulma/bulma.scss";
@import "./assets/font/hyn/hyn-v1.0/style.css";
@import "./sass/utilities/index.scss";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100%;
  height: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 18px;
}

html {
  overflow: auto;
}

.hyn-highlight {
  @include transition_border_bottom;
}
