@import "./sass/utilities/index.scss";

.drawer {
  width: 100%;
  transition: 200ms;
  z-index: 2;

  @include until(640px) {
    &.hide {
      width: 0px;
      opacity: 0;
      visibility: hidden;
    }

    ::v-deep {
      .wrap {
        width: 100%;
      }
    }

    ~ .content {
      padding-left: 0px;
    }
  }

  @include from(640px) {
    &.hide {
      width: 350px;
    }

    ::v-deep {
      .wrap {
        width: 350px;
      }
    }

    ~ .content {
      padding-left: 350px;
    }
  }
}

.content {
  z-index: 1;
  position: relative;

  height: 100%;
  width: 100%;
  overflow: auto;

  background-color: $dark;
  .container {
    height: 100%;
  }
  .component {
    min-height: 100%;
    width: 100%;
  }

  .icon [class*="hyni-"] {
    color: $light;
  }
}
