.blogs article a {
  text-decoration: underline;
}

.blogs article blockquote {
  padding: 20px 13px 20px 10px;
  background: rgba(172, 126, 244, 0.1);
  border-radius: 2px;
  border: 1px solid rgb(229 212 255);
  border-left: 10px solid #ac7ef4;
  margin: 30px 0;
}

.blogs article blockquote p:first-child {
  margin-top: 0;
}

.blogs article blockquote p:last-child {
  margin-bottom: 0;
}

.blogs article a:hover {
  text-decoration: none;
}

.blogs article .card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 30px 0;
}

.blogs article .card {
  border-radius: 10px;
  min-width: 230px;
  padding: 25px;
  flex: 1;
  color: inherit;
  text-decoration: none;
}

.blogs article .card-center {
  text-align: center;
}

.blogs article .card h3 {
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 22px;
}

.blogs article .card p {
  font-size: 14px;
}

.blogs article .card .icon {
  font-size: 70px;
  margin: 0;
  line-height: 1;
}

.blogs article h1 {
  @apply mb-7;
  @apply relative;

  line-height: 1.2;
  font-size: 55px;
  font-weight: 800;
}

.blogs article h2,
.blogs article h3,
.blogs article h4,
.blogs article h5,
.blogs article h6 {
  @apply text-xl font-semibold;
  @apply relative;
  margin-top: 1.2em;

  margin-bottom: max(0.7em, 18px);
}

.blogs article h2 {
  line-height: 1.2;
  font-size: 42px;
  font-weight: 800;
  margin-top: 45px;
}

.blogs article h3 {
  font-size: 1.8rem;
}

.blogs h2 a,
.blogs h3 a,
.blogs h4 a,
.blogs h5 a,
.blogs h6 a {
  position: absolute;
  width: 100%;
  height: 1em;
}

.icon-link {
  display: none;
}

.icon-link::after {
  position: absolute;
  content: "#";
  left: -1em;
}

h2 a:hover .icon,
h3 a:hover .icon,
h4 a:hover .icon,
h5 a:hover .icon,
h6 a:hover .icon {
  display: inline;
}

.blogs article p {
  margin-top: 1.6rem;
  margin-bottom: 0.9rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
}

.blogs article ul,
.blogs article ol {
  @apply my-4;
  @apply ml-10;
  line-height: 1.7;
  list-style: disc;

  font-size: 16px;
  font-weight: 400;
}

.blogs article ol {
  list-style: decimal;
}

.blogs article li {
  @apply my-1;
  @apply pl-2;
}

.blogs article li::marker,
.blogs article li::-webkit-details-marker {
  font-weight: 800;
}

[data-rehype-pretty-code-fragment] {
  overflow: auto;
  color: white;
  background-color: rgb(1 31 51);
  border-radius: 8px;
  margin: 20px 0;
}

[data-rehype-pretty-code-fragment] pre {
  overflow: auto;
  border-radius: 8px;
}

[data-rehype-pretty-code-title] {
  padding: 5px 15px;
  background: #4199d3;
  font-family: monospace;
  font-weight: bold;
}

.blogs article pre {
  padding: 18px 15px;
  overflow: auto;
}

html[data-code-theme]:not([data-code-theme="one-dark-pro"])
  .blogs
  article
  pre[data-language][data-theme="one-dark-pro"],
html[data-code-theme]:not([data-code-theme="nord"])
  .blogs
  article
  pre[data-language][data-theme="nord"] {
  @apply hidden;
}

html:not([data-code-theme])
  .blogs
  article
  pre[data-language]:not([data-theme="one-dark-pro"]) {
  @apply hidden;
}

.blogs article pre code {
  display: grid;
  counter-reset: line;
  background-color: transparent;
  border: none;
  user-select: auto;
  line-height: 1.28;
}

.blogs article code:not([data-language]) {
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 0.9em;
  user-select: all;
}

@media (max-width: 640px) {
  .blogs article code {
    word-break: break-all;
  }
  .blogs article h1 {
    font-size: 40px;
  }
  .blogs article h2 {
    font-size: 30px;
  }
}

.blogs article table {
  @apply my-5;
}

.blogs article th,
.blogs article td {
  padding: 6px;
  vertical-align: top;
}

.blogs article th:first-child,
.blogs article td:first-child {
  padding-left: 0;
}

.blogs article th:last-child,
.blogs article td:last-child {
  padding-right: 0;
}

.blogs article img {
  border-radius: 5px;
  overflow: hidden;
}

.blogs main.no-right-menu .on-this-page {
  display: none;
}

@media (min-width: 1280px) {
  .blogs main.no-right-menu .docs-container {
    margin-right: 6rem;
  }
}

.blogs article .line.highlighted {
  background-color: rgba(200, 200, 255, 0.1);
}
