@import "../../../../node_modules/bulma/sass/utilities/initial-variables.sass";

$white: #fff;
$primary: #4297e0;

$content-heading-color: $cyan;
$background: $grey-dark;
$text: $white-ter;


$link: $primary;
$link-hover: $white;

